<app-navbar></app-navbar>
<form (submit)="edit ? updateUser(user, user._id) : createUser()">
    <div class="row mb-1 p-3">
        <div class="col">
            <label for="exampleInputEmail1" class="form-label ">Name</label>
            <input class="form-control" [(ngModel)]="user.name" placeholder="John Doe" name="user.name">
        </div>
        <div class="col">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="user.email" placeholder="email@example.com" name="user.email">
        </div>
    </div>

    <div class="mb-1 p-3">
        <label for="exampleInputEmail1" class="form-label">Image URL</label>
        <input class="form-control" [(ngModel)]="user.imageURL" placeholder="Optional imageURL" name="user.imageURL">
    </div>
    <div class="mb-1 p-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password"
            placeholder="Password" name="user.password">
    </div>
    <div class="d-grid gap-2 m-1 p-lg-2">
        <button type="submit" class="btn btn-primary btn" routerLink="/auth/user">Save</button>
    </div>


</form>